@media (max-width: 768px) {
    .call-now {
        text-align: center;
    }

    header {
        flex-direction: column;
    }
    .col-md-3 .image-shawdow{
        margin-bottom: 20px;
    }
    .image-shawdow::after {
        bottom: -10px;
        height: 10px;
        filter: blur(5px);
    }
    footer h5{
        margin-top: 20px;
    }
    footer h2{
        margin-top: 30px;
    }
    button {
        width: 100%; 
        padding: 15px; 
        font-size: 18px; 
        margin: 10px 0; 
    }
    .connect {
        text-align: center;
        justify-content: center;
    }
    .social-icons {
        justify-content: center;
    }

    .social-icons a {
        margin: 10px 0; 
        float: none;
    }
}

@media (max-width: 576px) {
    .target-logo{
        flex-direction: column;
        transform: translateX(-15px);
    }
    .target-logo h1{
        font-size: 40px;
    }
    .m-5 {
        margin: 0rem !important;
    }
    .connect {
        text-align: center;
        justify-content: center;
    }
    .social-icons {
        justify-content: center;
    }

    .social-icons a {
        margin: 10px 0; 
        float: none;
    }
    .brand-image {
        width: 25px; 
        height: auto;
    }

    button {
        width: 100%; 
        padding: 15px; 
        font-size: 18px;
        margin: 10px 0; 
    }
}