@media (max-width: 768px) {
    .call-now {
        text-align: center;
    }

    header {
        flex-direction: column;
    }
    .col-md-3 .image-shawdow{
        margin-bottom: 20px;
    }
    .image-shawdow::after {
        bottom: -10px;
        height: 10px;
        filter: blur(5px);
    }
    footer h5{
        margin-top: 20px;
    }
    footer h2{
        margin-top: 30px;
    }
    button {
        width: 100%; /* Đảm bảo nút bấm chiếm toàn bộ chiều rộng của container */
        padding: 15px; /* Tăng kích thước padding để dễ bấm hơn */
        font-size: 18px; /* Tăng kích thước font chữ */
        margin: 10px 0; /* Thêm khoảng cách giữa các nút bấm */
    }
}

@media (max-width: 576px) {
    .target-logo{
        flex-direction: column;
        transform: translateX(-15px);
    }
    .target-logo h1{
        font-size: 40px;
    }
    .m-5 {
        margin: 0rem !important;
    }
    .social-icons {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .social-icons a {
        margin: 10px 0; /* Thêm khoảng cách giữa các biểu tượng theo chiều dọc */
        float: none;
    }
    .brand-image {
        width: 25px; /* Giảm kích thước hình ảnh thương hiệu hơn nữa */
        height: auto;
    }

    button {
        width: 100%; /* Đảm bảo nút bấm chiếm toàn bộ chiều rộng của container */
        padding: 15px; /* Tăng kích thước padding để dễ bấm hơn */
        font-size: 18px; /* Tăng kích thước font chữ */
        margin: 10px 0; /* Thêm khoảng cách giữa các nút bấm */
    }
}